# Unity
/unity/[Ll]ibrary/
/unity/[Tt]emp/
/unity/[Oo]bj/
/unity/[Bb]uild/
/unity/[Bb]uilds/
/unity/[Ll]ogs/
/unity/[Uu]ser[Ss]ettings/
/unity/MemoryCaptures/
/unity/*.csproj
/unity/*.sln
/unity/*.slnx
/unity/.vs/
/unity/.idea/
*.pidb.meta
*.pdb.meta
*.mdb.meta
crashlytics-build.properties

# dotnet
bin/
obj/
*.user

# Outputs
/out/
